YekanPedia.MessagingGateway.ExternalService/Service References/EmailGateway/EmailGateway1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/YekanPedia.EmailGateway.Proxy.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/YekanPedia.EmailGateway.Proxy.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:39965/Services/EmailGateway.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="EmailModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="EmailAddress" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailModel" nillable="true" type="tns:EmailModel" />
</xs:schema>