YekanPedia.MessagingGateway.ExternalService/Service References/RoboTeleProxy/RoboTeleProxy.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/YekanPedia.RoboTele.Proxy.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/YekanPedia.RoboTele.Proxy.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSendMessageModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SendMessageModel" nillable="true" type="tns:SendMessageModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSendMessageModel" nillable="true" type="tns:ArrayOfSendMessageModel" />
  <xs:complexType name="SendMessageModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChatId" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendMessageModel" nillable="true" type="tns:SendMessageModel" />
  <xs:complexType name="SecurityModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecurityModel" nillable="true" type="tns:SecurityModel" />
</xs:schema>