YekanPedia.MessagingGateway.ExternalService/Service References/RoboTeleProxy/RoboTeleProxy1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63123/Services/RoboTeleProxy.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/YekanPedia.RoboTele.Proxy.Model" />
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/YekanPedia.RoboTele.Proxy.Model" minOccurs="0" name="model" nillable="true" type="q1:ArrayOfSendMessageModel" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/YekanPedia.RoboTele.Proxy.Model" minOccurs="0" name="security" nillable="true" type="q2:SecurityModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>